
<div class="flex bg-black py-3">
    <div class="w-1/2 text-white pl-2">
        <div class="flex items-center">
            <fa-icon [icon]="navIcon" class="text-2xl"></fa-icon>
            <span class="px-2">{{siteName}}</span>
        </div>
    </div>
    <div class="w-1/2 pr-2">
        <div class="flex flex-col">
            <button class="flex justify-end text-gray-300 hover:text-white md:hidden"
            aria-controls="navbar-default" aria-expanded="false"
            data-collapse-toggle="navbar-default" type="button">
                <fa-icon [icon]="lineIcon" class="text-xl"></fa-icon>
            </button>
            <ul class="flex flex-col md:flex-row md:justify-end" id="navbar-default">
                <li class="mx-1 text-right" *ngFor="let nav of navMenuList">
                    <a class="text-lg text-gray-300 hover:text-white" href="#">{{nav}}</a>
                </li>
            </ul>
        </div>
    </div>
    </div> 